html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  display: grid;
  grid-template-columns: min-content 1fr;
  font-family: system-ui, sans-serif;
  background: url('../images/savethedate.jpg');
  
  /* this breaks position sticky in Firefox */
  /* overflow-x: hidden; */
}
header {
  grid-column: 1 / 3;
  color: #E1C58F;
  text-align: center;
  font-family: Snell Roundhand, cursive;
}
span {
  font-size: 4rem;
}
nav {
  white-space: nowrap;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Only stick if you can fit */
@media (min-height: 300px) {
  nav ul {
    position: sticky;
    top: 0;
  }
}
nav ul li a {
  display: block;
  padding: 0.5rem 1rem;
  color: #E1C58F;
  text-decoration: none;
}
nav ul li a.current {
  background: black;
}
main {
  background: white;
}
section {
  display: inline-flex;
}
img{
  width: 50%;
  align-self: center;
}
.text {
  text-align: center;
  margin: 15px;
}
#Wedding_Details li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
#Questions {
  width: 100%;
}
#Questions img {
  width: 30%;
  border: 15px solid;
}
#Questions li {
  margin: 0;
  padding: 0;
  text-align: left;
}

