body {
  background-color: #286338;
}

.optionPanel{
  margin: 50px 20px;
  display: block;
}

.selection {
  position: relative;
  width: 23.5%;
  display: inline-block;
}

.image {
  opacity: 1;
  display: block;
  height: 500px;
  backface-visibility: hidden;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.selection:hover .image {
  opacity: 0.8;
}

.selection:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font-size: 24px;
  padding: 16px 32px;
}